@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

600;700&family=Raleway:wght@500;600;700;900&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow-double:before {
  content: "\e901";
}

._icon-close:before {
  content: "\e902";
}

._icon-doc:before {
  content: "\e903";
}

._icon-doc-word:before {
  content: "\e904";
}

._icon-download-doc:before {
  content: "\e905";
}

._icon-download-pdf:before {
  content: "\e906";
}

._icon-envelope:before {
  content: "\e907";
}

._icon-phone-o:before {
  content: "\e908";
}

._icon-phone-s:before {
  content: "\e909";
}

._icon-question:before {
  content: "\e90a";
}

._icon-user:before {
  content: "\e90b";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #083A53;
  line-height: 1.375;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 1.25rem;
  width: 100%;
  max-width: 35.625rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 2.5rem;
  margin-left: auto;
}

[data-showmore-button] {
  display: block;
  width: 100%;
  padding-bottom: 0.75rem;
  margin: 1.875rem auto;
  border-bottom: 1px solid #BDBDBD;
}

[data-showmore-button] span {
  position: relative;
}

[data-showmore-button] span::before {
  content: "\e900";
  display: block;
  width: 3rem;
  height: 1.5rem;
  position: absolute;
  bottom: -1.875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #BDBDBD;
  background-color: #fff;
  font-size: 1rem;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

._showmore-active [data-showmore-button] span:last-child::before {
  -webkit-transform: translateX(-50%) rotate(180deg);
      -ms-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
  bottom: -1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.s-title {
  font-family: "Raleway", sans-serif;
  line-height: 1.1666666667;
  font-weight: 600;
  color: #083A53;
  text-transform: uppercase;
}

.s-title--white {
  color: #fff;
}

.s-description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  color: #fff;
  background-color: #009746;
  font-family: "Raleway", sans-serif;
  line-height: 1.5555555556;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.btn--border {
  border: 0.25rem solid #fff;
}

.btn--download {
  padding-left: 3.125rem;
}

.btn--download::before {
  position: absolute;
  top: 50%;
  left: 0.9375rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ta-c {
  text-align: center;
}

.mb-30 {
  margin-bottom: 1.875rem !important;
}

.mt-30 {
  margin-top: 1.875rem !important;
}

.mt-20 {
  margin-top: 1.25rem !important;
}

.mt-10 {
  margin-top: 0.625rem !important;
}

.mb-40 {
  margin-bottom: 2.5rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.m-auto {
  margin: 0 auto !important;
}

.b-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.td-u {
  text-decoration: underline !important;
}

.header {
  z-index: 1;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 6.25rem;
  padding: 0px 0.9375rem 0px 0.9375rem;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 0 0 0 0.9375rem;
}

.phones {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
}

.phones__callback {
  font-weight: 900;
  font-size: 0.5625em;
  line-height: 1.1666666667;
  text-shadow: 0px 1px 4px #000;
  cursor: pointer;
}

.phones__link {
  line-height: 1.175;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
  margin-left: 1.5625em;
  z-index: 2;
}

.phones__link::before {
  font-size: 0.7272727273em;
  position: absolute;
  top: 50%;
  left: -1.25em;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu {
  position: relative;
}

.menu__list {
  font-weight: 700;
  line-height: 1.3636363636;
}

.menu__item {
  position: relative;
}

.menu__link {
  white-space: nowrap;
}

.has-sub:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.sub-menu {
  position: absolute;
  float: left;
  left: 0;
  top: 5.8125rem;
  max-width: 20rem;
  background-color: #fff;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  padding: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.17);
  -webkit-transition: all 0.17s ease;
  -o-transition: all 0.17s ease;
  transition: all 0.17s ease;
}

.sub-menu li a {
  height: 2.25rem;
  padding: 0 0.9375rem;
}

.icon-menu {
  display: none;
}

.top-banner {
  margin-top: -12.0625rem;
  padding-top: 20rem;
  padding-bottom: 9rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-banner__title {
  display: inline-block;
  padding: 1.25rem;
  color: #fff;
  background-color: #0C79B1;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.175;
  text-transform: uppercase;
  margin: 0 auto 1.875rem;
}

.top-banner__description {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  line-height: 1.1666666667;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 2px 4px #000000;
  text-align: center;
  max-width: 35rem;
  margin: 0 auto;
  margin-bottom: 70px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  color: #fff;
  background: rgba(67, 174, 228, 0.9);
  padding: 1.125rem 0.75rem 0.75rem 0.75rem;
}

.advantages-list-item__icon {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto 0.75rem;
}

.advantages-list-item__title {
  display: block;
  font-family: "Raleway", sans-serif;
  line-height: 1.1666666667;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.advantages-list-item__desc {
  line-height: 1.3888888889;
  font-weight: 600;
  display: block;
  text-align: center;
}

.direction-filter {
  background: #DFE1E0 url(../img/bg-direction.jpg) no-repeat top right;
  background-size: cover;
  padding: 0.75rem 2.125rem 5.4375rem;
}

.direction__container {
  position: relative;
  margin-top: -5.625rem;
  -webkit-filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
}

.scroll {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  padding: 10px;
  margin: 0 auto 2.8125rem;
}

.scroll-title {
  display: block;
  text-align: center;
}

.direction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6.25rem -0.75rem 0;
}

.direction-list .direction-list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.direction-list .direction-list-item__icon {
  display: block;
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.direction-list .direction-list-item__text {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3611111111;
  padding-left: 0.75rem;
}

.accredit {
  background-color: #fff;
  background-image: url(../img/stamp.png);
  background-repeat: no-repeat;
  background-size: 18.625rem;
  background-position: bottom 0 right 25%;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.accredit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6.25rem -0.75rem 0;
}

.accredit-list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.375rem;
          flex: 0 0 19.375rem;
  padding: 0 0.75rem;
}

.accredit-list-item__img {
  display: block;
  width: 19.375rem;
  height: 13.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.125rem;
  border: 4px solid #0C79B1;
}

.accredit-list-item__icon__pdf {
  position: relative;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin-top: -2rem;
  margin-left: auto;
  margin-right: auto;
}

.accredit-list-item__icon__pdf::before {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.accredit-list-item__name {
  color: #0C79B1;
  font-weight: 600;
  margin-top: 10px;
}

.document-inner {
  padding: 2.5rem 0 3.75rem;
}

.document__container {
  background-color: #fff;
  background-image: url(../img/bg-paper.jpg);
  background-repeat: no-repeat;
  background-position: bottom -6.25rem right 0;
  background-size: contain;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.link-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.25rem;
  margin-bottom: 6.25rem;
  text-transform: uppercase;
}

.icon-round {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.5rem;
          flex: 0 0 3.5rem;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background: #009746;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.icon-round::before {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.doc-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.75rem;
}

.doc-list-item {
  position: relative;
  display: block;
  margin-bottom: 60px;
  padding-left: 3.75rem;
  color: #0C79B1;
}

.doc-list-item:last-child {
  margin-bottom: 0;
}

.doc-list-item::before {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.works__container {
  padding-top: 3.75rem;
  padding-bottom: 1.875rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[9];
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 1.875rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
}

.gallery__item--2 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
}

.gallery__item--3 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
}

.gallery__item--4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 3;
  grid-row-end: 7;
}

.gallery__item--5 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 3;
  grid-row-end: 7;
}

.gallery__item--6 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 3;
  grid-row-end: 7;
}

.gallery__item--7 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 3;
  grid-row-end: 10;
}

.gallery__item--8 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 4;
  grid-column-end: 9;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 3;
  grid-row-end: 10;
}

.complete__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.complete__container__old {
  height: 4.25rem;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.complete-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.1666666667;
  font-weight: 500;
}

.complete-text span {
  line-height: 1.1666666667;
  padding-right: 1.25rem;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.employee {
  background: #CCCBC9 url(../img/bg-employee.jpg);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.employee__container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.employee .s-title {
  margin-bottom: 3.75rem;
}

.employee .s-description {
  max-width: 41.5rem;
  margin: 0 auto 3.75rem;
}

.employee-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75rem;
}

.employee-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.employee-list-item__photo {
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.5rem;
          flex: 0 0 7.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 0.1875rem solid #fff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.employee-list-item__info__name {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  margin-bottom: 0.9375rem;
}

.employee-list-item__info__post {
  margin-bottom: 0.9375rem;
}

.facilities__container {
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  margin-top: 3.75rem;
  padding-top: 3.4375rem;
  padding-bottom: 1.25rem;
}

.facilities-show {
  margin-top: 3.75rem;
}

.facilities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  margin: 0 -0.9375rem;
}

.facilities-list-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 0.9375rem 0 3.75rem;
}

.facilities-list-item::before {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #C4C4C4;
  position: absolute;
  top: 0.375rem;
  left: 2.5rem;
}

.partners {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4rem -1.25rem 0;
  row-gap: 4.375rem;
}

.partners-list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0.625rem 1.25rem;
}

.partners-list-item__logo {
  display: block;
  width: 17.1875rem;
  height: 6.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 0.75rem;
}

.partners-list-item__name {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875;
  text-transform: uppercase;
  color: #D1D4DD;
  text-align: center;
}

.pencil__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5.25rem 0 5.25rem;
  background: #fff url(../img/bg-pencil.png) no-repeat top right;
  background-size: contain;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.contacts {
  position: relative;
}

.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31.25rem;
  height: 31.25rem;
  color: #fff;
  background: rgba(8, 58, 83, 0.8);
}

.contacts-info-wrapper {
  padding: 1.875rem;
}

.contacts-info__adress,
.contacts-info__phone,
.contacts-info__mail,
.contacts-info__time {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.contacts-info__time {
  font-size: 0.875rem;
  line-height: 2;
}

.contacts-info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5625rem;
  background: #083A53;
}

.contacts-info__social__item {
  display: block;
  width: 3.4375rem;
  height: 3.4375rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts-info__social__item--vk {
  background-image: url(../img/icons/icon-vk.svg);
}

.contacts-info__social__item--instagram {
  background-image: url(../img/icons/icon-instagram.svg);
}

.contacts-info__social__item--telegram {
  background-image: url(../img/icons/icon-telegram.svg);
}

.contacts-info__social__item--facebook {
  background-image: url(../img/icons/icon-facebook.svg);
}

.contacts-info .s-title {
  margin-bottom: 1.875rem;
}

.letter {
  background-color: #fff;
}

.letter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

.info {
  position: relative;
}

.print {
  display: block;
  width: 31.25rem;
  height: 40.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.25rem;
          flex: 0 0 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-contacts {
  padding: 1.875rem;
  background-color: #fff;
}

.field {
  display: block;
  position: relative;
}

.field::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  color: #0E0E0F;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 0.6875rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.field--name::before {
  content: "\e90c";
}

.field--mail::before {
  content: "\e907";
}

.field--phone::before {
  content: "\e908";
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.6875rem;
  color: #0E0E0F;
  letter-spacing: 0.15px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

input {
  height: 2.875rem;
}

.form-contacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  row-gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-contacts form .field {
  display: inline-block;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.form-contacts form textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.form-in-popup .field,
.form-in-popup textarea {
  margin-bottom: 2rem;
}

.copyright {
  padding: 1.875rem 0;
}

.politic {
  color: #fff;
}

.footer {
  background-color: #083A53;
}

.stiker {
  position: fixed;
  width: 11.875rem;
  right: 0;
  color: #fff;
  padding: 0.9375rem 0.625rem 0.9375rem 4.375rem;
  border: 4px solid #FFFFFF;
  border-radius: 45px 45px 0px 45px;
  -webkit-box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
          box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  cursor: pointer;
  z-index: 10;
}

.stiker-text {
  font-family: "Raleway", sans-serif;
  font-weight: 50;
  font-size: 1.125rem;
  line-height: 1.1666666667;
}

.stiker-icon {
  display: block;
}

.stiker-icon::before {
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 1.25rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.stiker-green {
  top: 25rem;
  background-color: #009746;
}

.stiker-blue {
  top: 33.125rem;
  background-color: #43AEE4;
}

@media (min-width: 61.99875rem) {
  .contacts-info {
    position: absolute;
    bottom: 40.5rem;
    left: 0;
  }

  .contacts-info__social {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 81.875em) {
  .s-title {
    font-size: 1.875rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .phones {
    font-size: 2.5rem;
  }

  .logo {
    width: 24.125rem;
  }

  .menu__list {
    font-size: 1.375rem;
  }

  .sub-menu li a {
    font-size: 1.25rem;
  }

  .top-banner__title {
    font-size: 2.5rem;
  }

  .top-banner__description {
    font-size: 1.875rem;
  }

  .advantages-list {
    gap: 3.75rem;
  }

  .advantages-list-item__title {
    font-size: 1.875rem;
  }

  .advantages-list-item__desc {
    font-size: 1.125rem;
  }

  .direction {
    padding-left: 1.25rem;
  }

  .direction {
    padding-right: 1.25rem;
  }

  .direction-list {
    row-gap: 5rem;
  }

  .accredit-list {
    gap: 7.5rem;
  }

  .icon-round {
    margin-right: 1.875rem;
  }

  .doc-download {
    gap: 15.625rem;
  }

  .complete-text {
    font-size: 1.5rem;
  }

  .complete-text span {
    font-size: 3.75rem;
  }
}

@media (min-width: 62em) {
  .header-bottom {
    height: 5.8125rem;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 5.8125rem;
  }

  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media (min-width: 62em) and (min-width: 120em) {
  .menu__link {
    padding-left: 3.4375rem;
  }

  .menu__link {
    padding-right: 3.4375rem;
  }
}

@media (min-width: 120em) {
  .advantages-list {
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 75em) {
  .form-contacts form .field {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 20em) {
  .s-title {
    font-size: 1.25rem;
  }

  .btn {
    font-size: 1.125rem;
  }

  .phones {
    font-size: 1.25rem;
  }

  .logo {
    width: 13.125rem;
  }

  .menu__list {
    font-size: 1.125rem;
  }

  .sub-menu li a {
    font-size: 1rem;
  }

  .top-banner__title {
    font-size: 1.5rem;
  }

  .top-banner__description {
    font-size: 1.5rem;
  }

  .advantages-list {
    gap: 1.25rem;
  }

  .advantages-list {
    margin-bottom: 4.75rem;
  }

  .advantages-list-item__title {
    font-size: 1.5rem;
  }

  .advantages-list-item__desc {
    font-size: 1rem;
  }

  .direction {
    padding-left: 0.5rem;
  }

  .direction {
    padding-right: 0.5rem;
  }

  .direction-list {
    row-gap: 1.25rem;
  }

  .accredit-list {
    gap: 2.5rem;
  }

  .icon-round {
    margin-right: 0.9375rem;
  }

  .doc-download {
    gap: 2.5rem;
  }

  .complete-text {
    font-size: 1.25rem;
  }

  .complete-text span {
    font-size: 3.1875rem;
  }
}

@media (max-width: 87.5em) {
  .employee {
    background-position: top 0 right -150%;
  }
}

@media (max-width: 81.25em) {
  .employee {
    background-position: top 0 right -340px;
  }
}

@media (max-width: 67.5em) {
  .top-banner__title {
    margin-left: 0;
  }

  .top-banner__description {
    margin-left: 0;
    text-align: left;
  }
}

@media (max-width: 61.99875em) {
  .header-top {
    display: none;
  }

  .header-bottom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 0.9375rem;
    padding-top: 1.25rem;
  }

  .phones {
    color: #0C79B1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .phones__callback {
    color: #43AEE4;
    text-shadow: none;
    padding-top: 0.75rem;
    padding-bottom: 5px;
    margin-bottom: 1.25rem;
  }

  .menu__body {
    position: absolute;
    width: 26.25rem;
    top: 2.59375rem;
    left: 1000%;
    overflow: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 4px #000;
            box-shadow: 0px 1px 4px #000;
    padding: 1.875rem 2.1875rem;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: inherit;
    right: -0.9375rem;
  }

  .menu__link {
    display: block;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .icon-menu label {
    font-size: 1.5rem;
    line-height: 1.3333333333;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 3.125rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    outline: none;
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .direction-list .direction-list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .contacts-info {
    width: 100%;
  }

  .letter__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info {
    width: 100%;
  }

  .print {
    width: 100%;
    height: 11.25rem;
  }

  .stiker {
    width: 2.5rem;
  }

  .stiker-text {
    display: none;
  }

  .stiker-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .stiker-icon::before {
    font-size: 1.5rem;
    left: 1.875rem;
  }

  .stiker-green {
    top: 31.25rem;
  }

  .stiker-blue {
    top: 36.25rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 29.99875em) {
  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .icon-menu label {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .direction-list .direction-list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .accredit-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .doc-download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (5vw)[22];
    grid-template-rows: repeat(22, 5vw);
  }

  .gallery__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }

  .gallery__item--2 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }

  .gallery__item--3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 3;
    grid-row-end: 7;
  }

  .gallery__item--4 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 6;
    grid-row-end: 10;
  }

  .gallery__item--5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-row-span: 3;
    grid-row-end: 10;
  }

  .gallery__item--6 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 10;
        grid-row-start: 10;
    -ms-grid-row-span: 5;
    grid-row-end: 15;
  }

  .gallery__item--7 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 5;
    grid-column-end: 9;
    -ms-grid-row: 10;
        grid-row-start: 10;
    -ms-grid-row-span: 5;
    grid-row-end: 15;
  }

  .gallery__item--8 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 15;
        grid-row-start: 15;
    -ms-grid-row-span: 7;
    grid-row-end: 22;
  }

  .gallery {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (110px)[25];
    grid-template-rows: repeat(25, 110px);
  }

  .gallery__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }

  .gallery__item--2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 3;
    grid-row-end: 7;
  }

  .gallery__item--3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-row-span: 3;
    grid-row-end: 10;
  }

  .gallery__item--4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 10;
        grid-row-start: 10;
    -ms-grid-row-span: 3;
    grid-row-end: 13;
  }

  .gallery__item--5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 13;
        grid-row-start: 13;
    -ms-grid-row-span: 3;
    grid-row-end: 16;
  }

  .gallery__item--6 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 16;
        grid-row-start: 16;
    -ms-grid-row-span: 3;
    grid-row-end: 19;
  }

  .gallery__item--7 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 19;
        grid-row-start: 19;
    -ms-grid-row-span: 3;
    grid-row-end: 22;
  }

  .gallery__item--8 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
    -ms-grid-row: 22;
        grid-row-start: 22;
    -ms-grid-row-span: 3;
    grid-row-end: 25;
  }

  .employee {
    background: #CCCBC9;
  }

  .facilities-list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 40rem) {
  .top-banner__title {
    text-align: center;
    margin-left: auto;
  }

  .advantages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .header-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 12.5rem;
  }

  .phones__callback {
    display: none;
  }

  .menu-open .phones__link {
    color: #fff;
  }

  .logo {
    margin-bottom: -3.75rem;
    width: 19.6875rem;
  }

  .menu-wrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    color: #fff;
    text-shadow: 0px 1px 4px #000;
    background: rgba(67, 174, 228, 0.95);
    padding: 4.375rem 1.875rem 1.25rem;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .employee-list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .employee-list-item__info__name {
    text-align: center;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
  .s-title {
    font-size: clamp( 1.25rem , 1.047979798rem  +  1.0101010101vw , 1.875rem );
  }

  .btn {
    font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem );
  }

  .phones {
    font-size: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
  }

  .logo {
    width: clamp( 13.125rem , 9.5694444444rem  +  17.7777777778vw , 24.125rem );
  }

  .menu__list {
    font-size: clamp( 1.125rem , 1.0441919192rem  +  0.404040404vw , 1.375rem );
  }

  .sub-menu li a {
    font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem );
  }

  .top-banner__title {
    font-size: clamp( 1.5rem , 1.1767676768rem  +  1.6161616162vw , 2.5rem );
  }

  .top-banner__description {
    font-size: clamp( 1.5rem , 1.3787878788rem  +  0.6060606061vw , 1.875rem );
  }

  .advantages-list {
    gap: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem );
  }

  .advantages-list-item__title {
    font-size: clamp( 1.5rem , 1.3787878788rem  +  0.6060606061vw , 1.875rem );
  }

  .advantages-list-item__desc {
    font-size: clamp( 1rem , 0.9595959596rem  +  0.202020202vw , 1.125rem );
  }

  .direction {
    padding-left: clamp( 0.5rem , 0.2575757576rem  +  1.2121212121vw , 1.25rem );
  }

  .direction {
    padding-right: clamp( 0.5rem , 0.2575757576rem  +  1.2121212121vw , 1.25rem );
  }

  .direction-list {
    row-gap: clamp( 1.25rem , 0.0378787879rem  +  6.0606060606vw , 5rem );
  }

  .accredit-list {
    gap: clamp( 2.5rem , 0.8838383838rem  +  8.0808080808vw , 7.5rem );
  }

  .icon-round {
    margin-right: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
  }

  .doc-download {
    gap: clamp( 2.5rem , -1.7424242424rem  +  21.2121212121vw , 15.625rem );
  }

  .complete-text {
    font-size: clamp( 1.25rem , 1.1691919192rem  +  0.404040404vw , 1.5rem );
  }

  .complete-text span {
    font-size: clamp( 3.1875rem , 3.0056818182rem  +  0.9090909091vw , 3.75rem );
  }
}

@media (max-width: 61.99875em) and (min-width: 29.99875em) and (max-width: 61.99875em) {
  .header-bottom {
    height: clamp( 8.75rem , 7.5781738281rem  +  3.90625vw , 10rem );
  }
}

@media (min-width: 62em) and (min-width: 61.99875em) and (max-width: 120em) {
  .menu__link {
    padding-left: clamp( 0.625rem , -2.3813401112rem  +  4.849033426vw , 3.4375rem );
  }

  .menu__link {
    padding-right: clamp( 0.625rem , -2.3813401112rem  +  4.849033426vw , 3.4375rem );
  }
}

@media (min-width: 48em) and (max-width: 120em) {
  .advantages-list {
    margin-bottom: clamp( 2.5625rem , 1.9375rem  +  1.3020833333vw , 3.5rem );
  }
}

@media (min-width: 20em) and (max-width: 47.99875em) {
  .advantages-list {
    margin-bottom: clamp( 4.75rem , 6.3125697576rem  +  -7.8128487879vw , 2.5625rem );
  }
}

@media (any-hover: hover) {
  .phones__link:hover {
    text-decoration: underline;
  }

  .menu__item:hover .menu__link {
    color: #fff;
    background-color: #083A53;
  }

  .doc-list-item:hover {
    text-decoration: underline;
  }

  .partners-list-item:hover {
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}